@font-face {
  font-family: "Allura";
  src: url(../../fonts/Allura-Regular.ttf) format();
}
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf) format();
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: url(../imgs/bg-slider-06.jpg) center/cover;
  height: 100vh;
}
header .header-top {
  background: rgb(24, 23, 23);
  position: fixed;
  width: 80%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-top h3 {
  color: white;
  font-family: Allura, serif;
  font-size: 1.2rem;
}
header .header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
header .header-bottom {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
header .header-bottom h3 {
  font-family: Allura, serif;
  font-size: 1.5rem;
  color: rgb(175, 9, 9);
}
header .header-bottom h4 {
  font-family: Montserrat, sans-serif;
  font-size: 5rem;
}
header .header-bottom p {
  font-weight: bold;
  font-size: 30px;
}
header .header-bottom .header-bottom2 {
  height: 50px;
  width: 50px;
  background: url(../imgs/ic-plate-big.png);
  margin: 50px 0;
}

main .main-top {
  display: grid;
  grid-template-columns: 50% 50%;
}
main .main-top .main-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-top .main-top1 .main-top10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border: 1px dashed rgb(175, 9, 9);
  text-align: center;
  gap: 20px;
  padding: 20px;
}
main .main-top .main-top1 .main-top10 .main-top14 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
main .main-top .main-top1 .main-top10 .main-top14 .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../imgs/2b5c3c11-f7e4-470a-8f5c-bf86244483a5.png) center/cover;
  border: 1px dashed rgb(175, 9, 9);
}
main .main-top .main-top2 {
  height: 400px;
  width: 100%;
  background: url(../imgs/dish-gallery-06.jpg) center/cover;
}/*# sourceMappingURL=style.css.map */