footer {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .footer-left {
        background: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        .footer-left0 {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        h3 {
            color: $brown;
            font-family: $font2;
            font-size: 1.5rem;
        }
        p {
            color: $white;
            font-size: 1.5rem;
        }
    }
    .footer-right {
        background: $black2;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        .footer-right0{
            width: 100%;
            .footer-right01{
                
                form{
                    display: grid;
                    gap: 20px;
                    label{
                        font-size: 1.5rem;
                        color: $white;
                    }
                    input{
                        padding: 10px;
                        width: 50%;
                        background: none;
                        border-radius: 5px;
                    }
                    button{
                        width: 20%;
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
            }
            .footer-right02{
                display: flex;
                margin-top: 40px;
                gap: 20px;
                .footer-right021{
                    color: $white;
                }
                .footer-right022{
                    ul{
                        display: flex;
                        gap: 40px;
                        i{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
